* { /* tühistab vaikeseaded */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 2rem auto; /* kogu ala keskel */
    width: 75%;
}

.form-container {
    width: 75%;
    text-align: center;
    margin: 2rem auto;
}

form { /* block tüüpi element */
    width: 75%;
    margin: 0 auto;
}

.result-container {
    text-align: center;
}

.movie-data-list {
    list-style: none; /* eemaldab täpid */
    line-height: 2rem; /* kiri üksteisest eemal */
}

span {
    font-weight: bold;
}

img {
    width: 250px;
    border-radius: 5px;
}